<h1>Random User</h1>
<mat-card class="card">
  <mat-card-title-group>
    <mat-card-title
      >{{ randomUser.name.first }} {{ randomUser.name.last }}</mat-card-title
    >

    <img mat-card-sm-image src="{{ randomUser.picture.medium }}" />
  </mat-card-title-group>
  <mat-card-content>
    <mat-card-subtitle>{{ randomUser.email }}</mat-card-subtitle>
    <mat-card-subtitle
      >{{ randomUser.location.city }},
      {{ randomUser.location.country }}</mat-card-subtitle
    >
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-content>
</mat-card>
